.login-container {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  @media (--small) {
    height: auto;
  }
}

.login {
  /* background: linear-gradient(
    90deg,
    var(--bar-first) 0%,
    var(--bar-middle) 50%,
    var(--bar-end) 100%
  );
  color: white; */
  width: 400px;
  padding: 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 10px (4, 4, 4, 0.8);
  @media (--small) {
    border: none;
  }
}

.login-title {
  text-align: center;
}

.btn-login {
  width: 100%;
  margin-bottom: 10px;
}

.login-nocount-container {
  text-align: center;
}
.login-nocount {
  padding: 5px;
  font-size: 12px;
}

.login_registrar {
  color: var(--blue);
}

.login_registrar:hover {
  color: var(--pink);
}
