p {
  margin: 0;
}
.card-container {
  background: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6);
}

.card-title {
  height: 40px;
  background: var(--dark-title);
  display: flex;
  justify-content: space-between;
  color: white;
  align-items: center;
  padding: 0.5em;
}

.card-description {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.card-title p {
  margin: 0;
}

.card-cash {
  padding: 0 0 5px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
