.Footer {
  font-family: Raleway;
  color: white;
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3px 10px;
  @media (--small) {
    flex-direction: column;
  }
}

.Footer p {
  font-size: 16px;
  margin: 0;
}
