.header {
  /* offset-x | offset-y | blur-radius | spread-radius | color */
  box-shadow: 0px 4px 4px 1px rgba(0, 0, 0, 0.2);
  background: linear-gradient(
    90deg,
    var(--bar-first) 0%,
    var(--bar-middle) 50%,
    var(--bar-end) 100%
  );
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5px 0 5px;
  &_wrap {
    display: flex;
    align-items: center;
    height: inherit;
    &.is-active {
      @media (--ipad) {
        left: 0;
        right: 0;
      }
    }
    @media (--ipad) {
      display: block;
      padding: 40px 20px;
      position: fixed;
      background: rgba(4, 4, 4, 0.9);
      z-index: 3;
      top: 0;
      /* left: 0; */
      left: -200px;
      bottom: 0;
      transition: 0.3s;
    }
  }
  @media (--ipad) {
    display: block;
    height: auto;
    padding: 5px 5px 5px 5px;
  }
}

.Menu {
  height: inherit;
  &-content {
    height: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media (--ipad) {
      display: block;
    }
  }

  &-details {
    display: flex;
    height: inherit;
    list-style: none;
    @media (--ipad) {
      display: block;
      height: 50px;
      border-bottom: 1px solid gray;
    }
  }

  &-details a {
    color: white;
    height: inherit;
    display: flex;
    align-items: center;
    padding: 0 10px;
    text-decoration: none;
  }

  .Menu-details:last-child {
    margin-right: 15px;
    @media (--ipad) {
      margin-right: 0;
      margin-bottom: 10px;
    }
  }

  &-details a:hover {
    box-shadow: inset 0 5px 0 0 #7dcd40;
    @media (--ipad) {
      box-shadow: none;
      color: #7dcd40;
    }
  }

  &-details:after {
    content: "│";
    display: flex;
    align-items: center;
    color: white;
    @media (--ipad) {
      display: none;
    }
  }

  &-details:last-child:after {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .logo-container {
    display: none;
  }
  .burger-button {
    display: block;
  }

  .user-icon {
    display: none;
  }

  .button {
    display: block;
    width: 50%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
  }

  .header_wrap.is-active {
    left: 0;
    right: 0;
  }
}
@media screen and (max-width: 480px) {
}
@media screen and (max-width: 320px) {
}
