<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <script
      src="https://kit.fontawesome.com/f66eb91f1c.js"
      crossorigin="anonymous"
    ></script>
    <title><%= titulo %></title>
  </head>
  <body>
    <section id="container"></section>
    <section id="modal"></section>
  </body>
</html>
