.notFound__error {
  max-width: 100%;
  height: 93.6vh;
  font-size: 16px;
  overflow: hidden;
  background: url("../../../../image/stars.svg"), #1b1b25;
  background-color: #1b1b25;
  background-repeat: repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  @media (--small) {
    flex-direction: column;
    padding: 10px;
  }
  /* margin-bottom: 1rem;
  color: #ffffff;
  display: flex;
  justify-content: center; */
}
/* .notFound-image-container {
  min-width: 500px;
} */
.notFound-image-container {
  max-width: 700px;
  @media (--ipad) {
    max-width: 400px;
  }
}
.notFound-details {
  text-align: center;
  margin-bottom: 20px;
}
.notFound-image-container img {
  width: 100%;

  /* object-fit: cover; */
}
.notFound {
  font-size: 2em;
}
.notFoundLost {
  font-size: 1em;
  padding-bottom: 10px;
}
.notFound,
.notFoundLost {
  margin: 0;
}

.notFound-title {
  margin: 0;
}
