.BadgeNew__hero {
  width: 100%;
  padding: 2rem 0;
  /* background: url("../../../image/stars.svg"), #1b1b25; */
  background: image-set(url("../../../image/stars.svg") 1x);
  background-color: #1b1b25;
  background-repeat: repeat;
  margin-bottom: 1rem;
  color: #ffffff;
  display: flex;
  justify-content: center;
}

.BadgeNew__hero-image {
  max-height: 125px;
}

p {
  font-size: 40px;
}
p span {
  color: #7dcd40;
}
