.bill-container {
  background: var(--blue);
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-left: 1px solid gray;
  border-bottom: 1px solid gray;
  width: 80%;
  margin: 0px auto;
  font-size: 14px;
  padding: 5px 10px;
}

.bill-title {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 5px;
}

.bill-details {
  margin: 0 5px;
  padding: 2px;
}

.bill-cash {
  font-size: 18px;
  font-weight: bold;
}
