@font-face {
  font-family: "coobethel";
  src: url("../fonts/coobethel.eot?mxk4yx");
  src: url("../fonts/coobethel.eot?mxk4yx#iefix") format("embedded-opentype"),
    url("../fonts/coobethel.ttf?mxk4yx") format("truetype"),
    url("../fonts/coobethel.woff?mxk4yx") format("woff"),
    url("../fonts/coobethel.svg?mxk4yx#coobethel") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "coobethel" !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-contact_mail:before {
  content: "\e900";
}
.icon-mail:before {
  content: "\e901";
}
.icon-email:before {
  content: "\e901";
}
.icon-letter:before {
  content: "\e901";
}
.icon-envelope:before {
  content: "\e901";
}
.icon-contact:before {
  content: "\e901";
}
.icon-cc-visa:before {
  content: "\e902";
}
.icon-bell:before {
  content: "\e903";
}
.icon-alarm:before {
  content: "\e904";
}
.icon-cart:before {
  content: "\e93a";
}
.icon-coin-dollar:before {
  content: "\e93b";
}
.icon-credit-card:before {
  content: "\e93f";
}
.icon-key2:before {
  content: "\e98e";
}
.icon-cog:before {
  content: "\e994";
}
.icon-menu:before {
  content: "\e9bd";
}
.icon-heart:before {
  content: "\e9da";
}
.icon-cancel-circle:before {
  content: "\ea0d";
}
.icon-cross:before {
  content: "\ea0f";
}
.icon-enter:before {
  content: "\ea13";
}
.icon-exit:before {
  content: "\ea14";
}
.icon-facebook2:before {
  content: "\ea91";
}
.icon-instagram:before {
  content: "\ea92";
}
.icon-whatsapp:before {
  content: "\ea93";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-youtube:before {
  content: "\ea9d";
}
.icon-pinterest:before {
  content: "\ead1";
}
.icon-user-solid-square:before {
  content: "\e905";
}
.icon-user-solid-circle:before {
  content: "\e906";
}
